/*html{
  font-family: Arial, "MS Trebuchet", sans-serif;
}
h1{
  font-weight:bold;
  
}*/
.content{
  width:auto; /*800px;*/
  height:auto;
}
.content-players{
  width:200px;
  float:left;
}
.content-dice{
  width:600px;
  float:left;
}
.single_dice{
  background-image: url("../img/dice_faces.jpg");
  width: 100px;
  height:100px;
  margin: 5px;
  float: left;
}
.scoring{
  background-color: green;
  width: 110px;
  height: auto;
  margin: 5px;
  float: left;
}
.face_1{
  background-position: -265px -155px;
}
.face_2{
  background-position: -135px -155px;
}
.face_3{
  background-position: 0px -154px;
}
.face_4{
  background-position: -265px 0px;
}
.face_5{
  background-position: -135px 0px;
}
.face_6{
  background-position: 0px 0px;
}
.rolling-player{
  color:green;
}
.hide{
  display: none;
}
.show{
  display: block;
}
.pull-right{
  float:right;
}
.pull-left{
  float:left;
}
.clear{
  clear:both;
}
.winner{
  color:green;
}
.zero-score-message{
  color:red;
  font-weight: bold;
}
.overlay{
  background-color: gray;
  opacity: 0.9;
  z-index:1;
  position:absolute;
  width:100%;
  height:100%;
  top:0; left:0;
}
.animation h1{
  position: absolute;
  top:50%;
  left:50%;
  margin: 0;
  z-index:10
}
#round-number{
  color:green;
}
#fight-animation{
  color:red;
}
